<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu-Platform | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-3 d-flex align-items-center">
                    <a href="#" class="logo">
                        <img src="./img/logo.png" alt="Edu-Platform">
                    </a>
                </div>
                <div class="col-lg-6 responsive-menu">
                    <ul class="menu">
                        <li>
                            <a href="#" class="active">
                                <i class="fa-solid fa-house"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-firefox-browser"></i>
                            </a>
                        </li>
                        <li>
                            <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-user"></i>
                                <!-- <i class="fa-solid fa-right-to-bracket"></i> -->
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-9 col-9 d-flex align-items-center justify-content-between">
                    <form class="header-widget">
                        <div class="form-group">
                            <input type="text" placeholder="Search Here..." class="form-control">
                            <button class="btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <div class="header-widget navigation-bar d-flex justify-content-end">
                        <i id="navigation-bar" class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 side-widget-bar">
                    <div class="box widgets">
                        <h5>Trending Topics</h5>
                        <ul class="topics">
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-square-root-variable"></i>
                                    Mathmatics
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-language"></i>
                                    English
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-flask"></i>
                                    Science
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-book"></i>
                                    Literature
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-book-open"></i>
                                    Bangla
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-clock-rotate-left"></i>
                                    History
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box widgets yourtopics-widgets">
                        <h5>Your Topics</h5>
                        <ul class="yourtopics">
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-square-root-variable"></i>
                                    Mathmatics
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-language"></i>
                                    English
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-flask"></i>
                                    Science
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-book"></i>
                                    Literature
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-book-open"></i>
                                    Bangla
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-clock-rotate-left"></i>
                                    History
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 feed">
                    <div class="box feed-welcome">
                        <div class="feed-top-img">
                            <img src="./img/online-group-study-4373387-3626456.webp" class="w-100" alt="">
                        </div>
                        <div class="feed-welcome-content">
                            <h4>Hi, Moinul!</h4>
                            <p>Let's learn something new.We can help you to learn efficently. Your response is will bring you up.</p>
                        </div>
                    </div>
                    <div class="box post">
                        <div class="post-header">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p>Student of BSc in CSE, Eastern University</p>
                                <span>3w ago</span>
                            </div>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div class="post-content">
                            <p>সবাই ChatGPT নিয়ে কথা বলছে। কিন্তু, AI-এর রেভ্যুলুশন মিস করছে বেশিরভাগ মানুষ। তাই, কিছু টপ AI-টুলস সম্পর্কে সবার জানা দরকার।<br>

                                1. Krisp: Krisp এর AI ফোনে কথা বলার সময় আপনার ব্যাকগ্রাউন্ড ভয়েস, নয়েস ও ইকো রিমুভ করে দিব🔗লিঙ্ক: <a href="">https://krisp.ai/</a>
                                
                                2. Beatoven: রয়্যালটি-ফ্রি মিউজিক তৈরি করতে beatoven ব্যবহার করুন।
                                🔗লিঙ্ক: <a href="">https://www.beatoven.ai/</a>
                                
                                3. Cleanvoice: আপনার পডকাস্ট পর্বগুলি অটোম্যাটিকভাবে এডিট করুন৷
                                🔗লিঙ্ক: <a href="">https://cleanvoice.ai/</a>
                                
                                4. Podcastle: স্টুডিও মানের রেকর্ডিং করুন সরাসরি আপনার কম্পিউটার থেকে।
                                🔗লিঙ্ক: <a href="">https://podcastle.ai/</a>
                                
                                5. Flair: খুব সহজে ব্র্যান্ডেড সামগ্রী ডিজাইন করুন
                                🔗লিঙ্কঃ <a href="">https://flair.ai/</a>
                                
                                6. Illustroke: টেক্সট প্রম্পট থেকে ভেক্টর ইমেজ তৈরি করুন
                                🔗লিঙ্ক: <a href="">https://illustroke.com/</a>
                            </p>
                            <div class="post-images">
                                <div class="single-post-img">
                                    <img src="./img/postimg.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg3.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post-info">
                            <div class="post-info-left">
                                <p>10 Likes</p>
                            </div>
                            <div class="post-info-right">
                                <p>20 Comments | 4 Share</p>
                            </div>
                        </div>
                        <div class="post-action d-flex justify-content-between">
                            <div class="single-action">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>Like</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-regular fa-comment-dots"></i>
                                <span>Comment</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-solid fa-share"></i>
                                <span>Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="box post">
                        <div class="post-header">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p>Student of BSc in CSE, Eastern University</p>
                                <span>3w ago</span>
                            </div>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div class="post-content">
                            <p>সবাই ChatGPT নিয়ে কথা বলছে। কিন্তু, AI-এর রেভ্যুলুশন মিস করছে বেশিরভাগ মানুষ। তাই, কিছু টপ AI-টুলস সম্পর্কে সবার জানা দরকার।<br>

                                1. Krisp: Krisp এর AI ফোনে কথা বলার সময় আপনার ব্যাকগ্রাউন্ড ভয়েস, নয়েস ও ইকো রিমুভ করে দিব🔗লিঙ্ক: <a href="">https://krisp.ai/</a>
                                
                                2. Beatoven: রয়্যালটি-ফ্রি মিউজিক তৈরি করতে beatoven ব্যবহার করুন।
                                🔗লিঙ্ক: <a href="">https://www.beatoven.ai/</a>
                                
                                3. Cleanvoice: আপনার পডকাস্ট পর্বগুলি অটোম্যাটিকভাবে এডিট করুন৷
                                🔗লিঙ্ক: <a href="">https://cleanvoice.ai/</a>
                                
                                4. Podcastle: স্টুডিও মানের রেকর্ডিং করুন সরাসরি আপনার কম্পিউটার থেকে।
                                🔗লিঙ্ক: <a href="">https://podcastle.ai/</a>
                                
                                5. Flair: খুব সহজে ব্র্যান্ডেড সামগ্রী ডিজাইন করুন
                                🔗লিঙ্কঃ <a href="">https://flair.ai/</a>
                                
                                6. Illustroke: টেক্সট প্রম্পট থেকে ভেক্টর ইমেজ তৈরি করুন
                                🔗লিঙ্ক: <a href="">https://illustroke.com/</a>
                            </p>
                            <div class="post-images">
                                <div class="single-post-img">
                                    <img src="./img/postimg.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg3.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post-info">
                            <div class="post-info-left">
                                <p>10 Likes</p>
                            </div>
                            <div class="post-info-right">
                                <p>20 Comments | 4 Share</p>
                            </div>
                        </div>
                        <div class="post-action d-flex justify-content-between">
                            <div class="single-action">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>Like</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-regular fa-comment-dots"></i>
                                <span>Comment</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-solid fa-share"></i>
                                <span>Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="box post">
                        <div class="post-header">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p>Student of BSc in CSE, Eastern University</p>
                                <span>3w ago</span>
                            </div>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div class="post-content">
                            <p>সবাই ChatGPT নিয়ে কথা বলছে। কিন্তু, AI-এর রেভ্যুলুশন মিস করছে বেশিরভাগ মানুষ। তাই, কিছু টপ AI-টুলস সম্পর্কে সবার জানা দরকার।<br>

                                1. Krisp: Krisp এর AI ফোনে কথা বলার সময় আপনার ব্যাকগ্রাউন্ড ভয়েস, নয়েস ও ইকো রিমুভ করে দিব🔗লিঙ্ক: <a href="">https://krisp.ai/</a>
                                
                                2. Beatoven: রয়্যালটি-ফ্রি মিউজিক তৈরি করতে beatoven ব্যবহার করুন।
                                🔗লিঙ্ক: <a href="">https://www.beatoven.ai/</a>
                                
                                3. Cleanvoice: আপনার পডকাস্ট পর্বগুলি অটোম্যাটিকভাবে এডিট করুন৷
                                🔗লিঙ্ক: <a href="">https://cleanvoice.ai/</a>
                                
                                4. Podcastle: স্টুডিও মানের রেকর্ডিং করুন সরাসরি আপনার কম্পিউটার থেকে।
                                🔗লিঙ্ক: <a href="">https://podcastle.ai/</a>
                                
                                5. Flair: খুব সহজে ব্র্যান্ডেড সামগ্রী ডিজাইন করুন
                                🔗লিঙ্কঃ <a href="">https://flair.ai/</a>
                                
                                6. Illustroke: টেক্সট প্রম্পট থেকে ভেক্টর ইমেজ তৈরি করুন
                                🔗লিঙ্ক: <a href="">https://illustroke.com/</a>
                            </p>
                            <div class="post-images">
                                <div class="single-post-img">
                                    <img src="./img/postimg.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg3.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post-info">
                            <div class="post-info-left">
                                <p>10 Likes</p>
                            </div>
                            <div class="post-info-right">
                                <p>20 Comments | 4 Share</p>
                            </div>
                        </div>
                        <div class="post-action d-flex justify-content-between">
                            <div class="single-action">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>Like</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-regular fa-comment-dots"></i>
                                <span>Comment</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-solid fa-share"></i>
                                <span>Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="box post">
                        <div class="post-header">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p>Student of BSc in CSE, Eastern University</p>
                                <span>3w ago</span>
                            </div>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div class="post-content">
                            <p>সবাই ChatGPT নিয়ে কথা বলছে। কিন্তু, AI-এর রেভ্যুলুশন মিস করছে বেশিরভাগ মানুষ। তাই, কিছু টপ AI-টুলস সম্পর্কে সবার জানা দরকার।<br>

                                1. Krisp: Krisp এর AI ফোনে কথা বলার সময় আপনার ব্যাকগ্রাউন্ড ভয়েস, নয়েস ও ইকো রিমুভ করে দিব🔗লিঙ্ক: <a href="">https://krisp.ai/</a>
                                
                                2. Beatoven: রয়্যালটি-ফ্রি মিউজিক তৈরি করতে beatoven ব্যবহার করুন।
                                🔗লিঙ্ক: <a href="">https://www.beatoven.ai/</a>
                                
                                3. Cleanvoice: আপনার পডকাস্ট পর্বগুলি অটোম্যাটিকভাবে এডিট করুন৷
                                🔗লিঙ্ক: <a href="">https://cleanvoice.ai/</a>
                                
                                4. Podcastle: স্টুডিও মানের রেকর্ডিং করুন সরাসরি আপনার কম্পিউটার থেকে।
                                🔗লিঙ্ক: <a href="">https://podcastle.ai/</a>
                                
                                5. Flair: খুব সহজে ব্র্যান্ডেড সামগ্রী ডিজাইন করুন
                                🔗লিঙ্কঃ <a href="">https://flair.ai/</a>
                                
                                6. Illustroke: টেক্সট প্রম্পট থেকে ভেক্টর ইমেজ তৈরি করুন
                                🔗লিঙ্ক: <a href="">https://illustroke.com/</a>
                            </p>
                            <div class="post-images">
                                <div class="single-post-img">
                                    <img src="./img/postimg.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg3.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post-info">
                            <div class="post-info-left">
                                <p>10 Likes</p>
                            </div>
                            <div class="post-info-right">
                                <p>20 Comments | 4 Share</p>
                            </div>
                        </div>
                        <div class="post-action d-flex justify-content-between">
                            <div class="single-action">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>Like</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-regular fa-comment-dots"></i>
                                <span>Comment</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-solid fa-share"></i>
                                <span>Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="box post">
                        <div class="post-header">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p>Student of BSc in CSE, Eastern University</p>
                                <span>3w ago</span>
                            </div>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div class="post-content">
                            <p>সবাই ChatGPT নিয়ে কথা বলছে। কিন্তু, AI-এর রেভ্যুলুশন মিস করছে বেশিরভাগ মানুষ। তাই, কিছু টপ AI-টুলস সম্পর্কে সবার জানা দরকার।<br>

                                1. Krisp: Krisp এর AI ফোনে কথা বলার সময় আপনার ব্যাকগ্রাউন্ড ভয়েস, নয়েস ও ইকো রিমুভ করে দিব🔗লিঙ্ক: <a href="">https://krisp.ai/</a>
                                
                                2. Beatoven: রয়্যালটি-ফ্রি মিউজিক তৈরি করতে beatoven ব্যবহার করুন।
                                🔗লিঙ্ক: <a href="">https://www.beatoven.ai/</a>
                                
                                3. Cleanvoice: আপনার পডকাস্ট পর্বগুলি অটোম্যাটিকভাবে এডিট করুন৷
                                🔗লিঙ্ক: <a href="">https://cleanvoice.ai/</a>
                                
                                4. Podcastle: স্টুডিও মানের রেকর্ডিং করুন সরাসরি আপনার কম্পিউটার থেকে।
                                🔗লিঙ্ক: <a href="">https://podcastle.ai/</a>
                                
                                5. Flair: খুব সহজে ব্র্যান্ডেড সামগ্রী ডিজাইন করুন
                                🔗লিঙ্কঃ <a href="">https://flair.ai/</a>
                                
                                6. Illustroke: টেক্সট প্রম্পট থেকে ভেক্টর ইমেজ তৈরি করুন
                                🔗লিঙ্ক: <a href="">https://illustroke.com/</a>
                            </p>
                            <div class="post-images">
                                <div class="single-post-img">
                                    <img src="./img/postimg.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg3.jpeg" alt="">
                                </div>
                                <div class="single-post-img">
                                    <img src="./img/postimg4.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post-info">
                            <div class="post-info-left">
                                <p>10 Likes</p>
                            </div>
                            <div class="post-info-right">
                                <p>20 Comments | 4 Share</p>
                            </div>
                        </div>
                        <div class="post-action d-flex justify-content-between">
                            <div class="single-action">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>Like</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-regular fa-comment-dots"></i>
                                <span>Comment</span>
                            </div>
                            <div class="single-action">
                                <i class="fa-solid fa-share"></i>
                                <span>Share</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 side-widget-bar">
                    <div class="box widgets profile-widget">
                        <a class="post-header">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p><b>moinul02</b></p>
                                <p>Student of BSc in CSE, Eastern University</p>
                            </div>
                        </a>
                        <a href="#" class="btn theme-btn theme-btn-alt w-100 mt-2">Logout</a>
                    </div>
                    <div class="box widgets tag-widgets">
                        <h5>Popular Tags</h5>
                        <ul class="tags">
                            <li><a href="">Trigonometry</a></li>
                            <li><a href="">Algebra</a></li>
                            <li><a href="">Geometry</a></li>
                            <li><a href="">Grammer</a></li>
                            <li><a href="">Ielts</a></li>
                            <li><a href="">Speaking</a></li>
                            <li><a href="">Writing</a></li>
                            <li><a href="">Bangla Grammer</a></li>
                            <li><a href="">Bangla Literature</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="post-modal">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="post-header align-items-center">
                            <div class="post-user-image">
                                <img src="./img/Campus_ambassador_Moinul_islam.png" class="w-100" alt="">
                            </div>
                            <div class="post-user-info">
                                <h5>Moinul Islam</h5>
                                <p>Student of BSc in CSE, Eastern University</p>
                            </div>
                        </div>
                        <div id="editor" class="post-content"></div>
                    </div>
                    <div class="modal-footer">
                       <div class="post-files">
                            <div class="form-group">
                                <i class="fa-regular fa-images"></i>
                                <input type="file" name="photo" id="" multiple>
                            </div>
                            <div class="form-group">
                                <i class="fa-regular fa-file"></i>
                                <input type="file" name="file" id="" multiple>
                            </div>
                       </div>
                       <div class="d-flex align-items-center">
                            <select name="status" id="" class="form-control">
                                <option value="">Status</option>
                                <option value="0">Active</option>
                                <option value="1">Draft</option>
                            </select>
                            <button type="button" class="btn theme-btn">Post</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://kit.fontawesome.com/3f4bb2ec9f.js" crossorigin="anonymous"></script>
    <script src="./js/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        ClassicEditor
				.create( document.querySelector( '#editor' ), {
					
					licenseKey: '',
					
					
					
				} )
				.then( editor => {
					window.editor = editor;
			
					
					
					
				} )
				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
					console.warn( 'Build id: q539tr486y-j15da68n1n3q' );
					console.error( error );
				} );

                // var colors = ['#fdaf00', '#3791b5', '#7ad001', '#a45dcf', '#feac92'];
                var minFontSize = 15;
                var maxFontSize = 25;
                /*Finding all the links inside a Div*/
                $('.yourtopics').find('li').find('a').each(function(e) {
                /*Applying font size*/
                $(this).css("fontSize", randomNumberGenerator(minFontSize, maxFontSize));
                // $(this).css("color", colors[Math.floor(Math.random() * colors.length)]);
                });
                /*Random Number Generator function*/
                function randomNumberGenerator(min,max)
                {
                return Math.floor(Math.random()*(max-min+1)+min);
                }
    </script>
</body>
</html>